$small-devices: 768px;
$medium-devices: 992px;
$large-devices: 1200px;


$default-font-family: 'Titillium Web', sans-serif;
$default-font-color: #ffffff;
$default-font-size: 14px;

$default-btn-bg-color: rgba(0,0,0,0.25);

$navbar-toogle-btn-bg-color: rgba(255,255,255, 0.1);
$navbar-toogle-btn-bg-color-hover: rgba(0,0,0, 0.25);
$navbar-nav-btn-bg-color: rgba(0,0,0, 0.25);

$section-header-sep-color: rgba(0,0,0,0.15);

$header-bg-color: #87509c;

$intro-btn-bg-color: #eb7d4b;

$services-bg-color: #17c2a4;

$team-bg-color: #e7f1f8;
$team-font-color: #3c4761;
$team-title-font-color: #30bae7;
$team-icon-bg-color: #bdd1df;

$skills-bg-color: #ffffff;
$skills-font-color: #3c4761;

$percent-circle-base-stroke: #dfe8ed;

$portfolio-bg-color: #ffdd99;
$portfolio-font-color: #393939;
$portfolio-filter-btn-color:rgba(0,0,0,0.08);
$portfolio-filter-btn-active-color: #ffffff;
$portfolio-btn-bg-color: #17c2a4;

$testimonials-bg-color: #d74680;
$testimonials-title-font-color: #ffdd99;

$contact-bg-color: #3c5499;
$contact-input-bg-color: #273a71;
$contact-btn-bg-color: #30bae7;

$footer-bg-color: #344b8e;
$footer-social-links-color: #30bae7;